<!-- Filip Pantic -->
{% extends "reset-password.html" %}

{% block title %}Reset lozinke{% endblock %}

{% block header %}
🔐 Reset lozinke
{% endblock %}

{% block content %}
<div class="text-center mb-3">
    <p>Unesite Vašu email adresu i poslaćemo Vam link za reset lozinke.</p>
</div>

<form method="post" class="text-start">
    {% csrf_token %}

    <label class="form-label">Email adresa</label>
    {{ form.email }}

    {% if form.email.errors %}
        <div class="alert alert-danger mt-2 p-2">
            {{ form.email.errors }}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary w-100 mt-3">
        📩 Pošalji link
    </button>
</form>


{% endblock %}
