<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset lozinke</title>
</head>
<body>
    {% extends "reset-password.html" %}
    {% block title %}Reset lozinke{% endblock %}

    {% block content %}
      <h1>Reset lozinke</h1>
      <p>Unesite svoj email — poslaćemo Vam link za reset lozinke.</p>

      <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
          <div class="errors">{{ form.email.errors }}</div>
        {% endif %}

        <button type="submit">Pošalji link za reset</button>
      </form>
    {% endblock %}
</body>
</html>