<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Verifikacija Tutora</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{% url 'adminpanel' %}" class="logo">StudyBuddy Admin</a>
            <nav><a href="{% url 'adminpanel' %}">Nazad na tablu</a></nav>
        </div>
    </header>
    <main class="container">
        <h1>Verifikacija tutora</h1>
        <h3>Tutori na čekanju:</h3>
        {% for tutor in tutors %}
            <form method="post">
                {% csrf_token %}
                <div class="item" style="display: flex; justify-content: space-between; align-items: center;">
                    <span><a href="public-profile.html">{{ tutor.iduser.username }}</a> {{ tutor.name }} {{ tutor.surname }}</span>
                    <div>
                        <input type="hidden" name="tutor_id" value="{{ tutor.iduser.iduser }}">
                        <button type="submit" name="action" value="verify" style="width: auto; background-color: #A6D785;">Verifikuj</button>
                        <button type="submit" name="action" value="reject" style="width: auto; background-color: #FF7F7F;">Odbij</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </main>
</body>
</html>