<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Student Tabla</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{% url 'dashboard-student' %}" class="logo">StudyBuddy</a>
            <nav>
                <a href="{% url 'profile' %}">Moj profil</a>
                <a href="{% url 'logout' %}">Odjavi se</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <h1>Studentska Tabla</h1>
        <h3>Akcije:</h3>
        <ul>
            <li><a href="{% url 'create_ad' %}">Kreiraj novi oglas</a></li>
            <li><a href="{% url 'search_ads' %}">Pretraži oglase</a></li>
        </ul>
    </main>
</body>
</html>