<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Admin Tabla</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{% url 'adminpanel' %}" class="logo">StudyBuddy Admin</a>
            <nav><a href="{% url 'logout' %}">Odjavi se</a></nav>
        </div>
    </header>
    <main class="container">
        <h1>Administratorska Tabla</h1>
        <h3>Akcije:</h3>
        <ul>
            <li><a href="{% url 'verifyTutor' %}">Verifikuj tutore</a></li>
            <li><a href="{% url 'removeUser' %}">Ukloni korisnika</a></li>
            <li><a href="{% url 'admin:index' %}">Admin kontrolna tabla</a></li>
        </ul>
    </main>
</body>
</html>