<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Uredi CV</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href={% url 'dashboard-tutor' %} class="logo">StudyBuddy</a>
            <nav><a href={% url 'dashboard-tutor' %}>Nazad na tablu</a></nav>
        </div>
    </header>
    <main class="container">
        <h1>Uredi CV</h1>
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <label>Ime</label>
                <input type="text" name="novoIme" required value="{{ name }}">
            </div>
            <div class="form-group">
                <label>Prezime</label>
                <input type="text" name="novoPrezime" required value="{{ surname }}">
            </div>
            <div class="form-group">
                <label>Slika
                    {% if slika != None %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="promeniSliku">Promeni
                    {% endif %}
                </label>
                <div>
                    {% if slika != None %}
                        <img src="data:image/png;base64,{{ slika }}" alt="Slika" width="150">
                    {% endif %}
                </div>
                <input type="file" name="novaSlika">
            </div>
            <div class="form-group">
                <label>O meni</label>
                <textarea rows="3" name="novoOMeni" >{{ aboutme }}</textarea>
            </div>
            <div class="form-group">
                <label>Edukacija</label>
                <textarea rows="3" name="novaEdukacija" required>{{ education }}</textarea>
            </div>
            <div class="form-group">
                <label>Projekti</label>
                <textarea rows="3" name="noviProjekti" >{{ projects }}</textarea>
            </div>
            <div class="form-group">
                <label>Iskustvo</label>
                <textarea rows="3" name="novoIskustvo" >{{ experience }}</textarea>
            </div>
            <button type="submit" class="btn">Sačuvaj</button>
        </form>
    </main>
</body>
</html>