<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>StudyBuddy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="index.html" class="logo">StudyBuddy</a>
            <nav>
                <a href="login.html">Prijavi se</a>
                <a href="register.html">Registruj se</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <h1>Dobrodošli na StudyBuddy</h1>
        <p>Platforma za pomoć u učenju. Molimo prijavite se ili registrujte.</p>
    </main>
</body>
</html>