<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Profil Korisnika</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{% url 'home' tip=myType %}" class="logo">StudyBuddy</a>
            <nav><a href="{% url 'search_ads' %}">Nazad na pretragu</a></nav>
        </div>
    </header>
    <main class="container">
        {% if myProfile %}
            <span><h1>Moj profil</h1></span>
        {% endif %}
        <div class="profile-sidebar">
            {% if type == 'Student' or type == 'Tutor' %}
            <h2 style="border:none;">{{ user.name }} {{ user.surname }}</h2>
            {% endif %}
            {% if not isRated %}
                <p><b>Nema ocena za ovog korisnika</b></p>
            {% else %}
                <p><b>Prosečna ocena:  {{ avgRating }}</b></p>
                <p><b>Broj recenzija: {{ countRating }}</b></p>
            {% endif %}
            {% if type == 'Tutor' and not myProfile %}
                <a class="btn" href="{% url 'download_tutors_cv' user.iduser.username %}">Preuzmi CV</a>
            {% endif %}
        </div>
        <div class="profile-main">
            {% if type == 'Student' %}
            <h3>Prethodni oglasi:</h3>
            {% elif type == 'Tutor' %}
            <h3>Pomagao na:</h3>
            {% endif %}
            <div class="item-list">
                {% if not notices %}
                    <div class="item"><p>Nema dosadasnjih kolaboracija</p></div>
                {% else %}
                {% for notice in notices %}
                    <div class="item">
                        <h3><a href="{% url 'view_ad' notice.idnotice %}">{{ notice.title }}</a></h3>
                        <h4>Predmet: {{ notice.subject }}</h4>
                        <p>Tip: {{ notice.type }}</p>
                        <p>Objavio: <b><a href="{% url 'profile' %}?username={{ notice.idpublisher.iduser.username }}">{{ notice.idpublisher.iduser.username }}</a></b></p>
                        {% if notice.idtutor %}
                            <p>Pomogao: <b><a href="{% url 'profile' %}?username={{ notice.idtutor.iduser.username }}">{{ notice.idtutor.iduser.username }}</a></b></p>
                        {% endif %}
                        <div class="opis">
                            <p>{{ notice.description }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <hr>

            <h3>Komentari drugih</h3>
            <div class="item-list">
                {% for comment in comments %}
                    <div class="item">
                        <p class="opis">{{ comment.comment }}</p>
                        <p>Postavio: <a href="{% url 'profile' %}?username={{ comment.idratinguser.username }}">{{ comment.idratinguser.username }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>