<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Profil Korisnika</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="index.html" class="logo">StudyBuddy</a>
            <nav><a href="search-ads.html">Nazad na pretragu</a></nav>
        </div>
    </header>
    <main class="container">
        <div class="profile-sidebar">
            <h2 style="border:none;">{Ime korisnika}</h2>
            <p><b>Prosečna ocena:</b> 4.8 / 5</p>
            <button class="btn">Preuzmi CV</button>
            <p>*Dostupno samo kada je korisnik Tutor</p>
        </div>
        <div class="profile-main">
            <h3>Biografija</h3>
            <p>Biografija korisnika.</p>
            <hr>
            <h3>Ocenjivanje saradnje (Vidi samo korisnik kad prekine saradnju sa tutorom)</h3>
            <p>Ocena (1-5): <input type="number" min="1" max="5" style="width: 50px;"></p>
            <button class="btn">Postavi komentar</button>
            <button class="btn">Ostani bez komentara</button>
            <hr>
            <h3>Komentari drugih</h3>
            <div class="item"><b>Marko M:</b> Odlična pomoć!</div>
        </div>
    </main>
</body>
</html>