<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Prikaz Oglasa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="#" class="logo">StudyBuddy</a>
            <nav><a href="{% url 'search_ads' %}">Nazad na pretragu</a></nav>
        </div>
    </header>
    <main class="container">
        <h1>Naziv oglasa to be added</h1>
        <p><b>Postavio:</b> {{ studentIme }} {{ studentPrezime }}</p>
        <hr>
        <h3>Opis</h3>
        <p>{{ oglas.description }}</p>
        <hr>
        {% if request.user.id == idVlasnika %}
        <h3>Prijavljeni tutori (Vidi samo vlasnik oglasa)</h3>
        <div class="item-list">
            {% for tutor in tutoriNeprihvaceni %}
                <div class="item" style="display: flex; justify-content: space-between; align-items: center;">
                    <span><a href="#">{{ tutor.name }} {{ tutor.surname }}</a></span>

                    <div style="display: flex; gap: 8px;">
                        <form method="post" action="{% url 'prihvati_zahtev' oglas.idnotice %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                            <button type="submit" class="btn" style="width:auto; background-color:#A6D785;">
                                Prihvati
                            </button>
                        </form>

                        <form method="post" action="{% url 'odbij_zahtev' oglas.idnotice %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                            <button type="submit" class="btn" style="width:auto; background-color:#FF7F7F;">
                                Odbij
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <h3>Aktivne saradnje (Vidi samo vlasnik oglasa)</h3>
        <div class="item-list">
            {% for tutor in tutoriPrihvaceni %}
                <div class="item" style="display: flex; justify-content: space-between; align-items: center;">
                    <span><a href="#">{{ tutor.name }} {{ tutor.surname }}</a></span>

                    <form method="post" action="{% url 'prekini_saradnju' oglas.idnotice %}">
                        {% csrf_token %}
                        <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                        <button type="submit" class="btn" style="width: auto; background-color: #FF7F7F;">
                            Prekini saradnju
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
        {% if jeTutor is not None %}
        <h3>Pošalji zahtev za saradnju (Vidi samo tutor)</h3>
        <button class="btn">Pošalji zahtev</button>
        {% endif %}
    </main>
</body>
</html>