<!--Luka Zdravic-->

{% load static %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Prikaz Oglasa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{% url 'home' tip=myType %}" class="logo">StudyBuddy</a>
            <nav><a href="{% url 'search_ads' %}">Nazad na pretragu</a></nav>
        </div>
    </header>
    <main class="container">
        <h1>{{ oglas.title }}</h1>
        <h3>Predmet: {{ oglas.subject }}</h3>
        <p><b>Tip pomoci: </b> {{ oglas.type }}</p>
        <p><b>Postavio:</b> {{ studentIme }} {{ studentPrezime }}</p>
        <hr>
        <h3>Opis</h3>
        <p>{{ oglas.description }}</p>
        <hr>

        {% if gotovaSaradnja %}
            {% if request.user.username == usernameVlasnika or jaPomogao %}
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn" style="width:auto; background-color:#A6D785;">
                            Oceni
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endif %}

        {% if request.user.username == usernameVlasnika and gotovaSaradnja is None %}
        <h3>Prijavljeni tutori</h3>
        <div class="item-list">
            {% for tutor in tutoriNeprihvaceni %}
                <div class="item" style="display: flex; justify-content: space-between; align-items: center;">
                    <span><a href="#">{{ tutor.name }} {{ tutor.surname }}</a></span>

                    <div style="display: flex; gap: 8px;">
                        <form method="post" action="{% url 'prihvati_zahtev' oglas.idnotice %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                            {% if oglas.idtutor is None %}
                            <button type="submit" class="btn" style="width:auto; background-color:#A6D785;">
                                Prihvati
                            </button>
                            {% endif %}
                        </form>

                        <form method="post" action="{% url 'odbij_zahtev' oglas.idnotice %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                            <button type="submit" class="btn" style="width:auto; background-color:#FF7F7F;">
                                Odbij
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <h3>Aktivna saradnja</h3>
        <div class="item-list">
            {% for tutor in tutoriPrihvaceni %}
                <div class="item" style="display: flex; justify-content: space-between; align-items: center;">
                    <span><a href="#">{{ tutor.name }} {{ tutor.surname }}</a></span>

                    <form method="post" action="{% url 'prekini_saradnju' oglas.idnotice %}">
                        {% csrf_token %}
                        <input type="hidden" name="tutor_id" value="{{ tutor.iduser_id }}">
                        <button type="submit" class="btn" style="width: auto; background-color: #FF7F7F;">
                            Prekini saradnju
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
        {% if jeTutor and not poslaoZahtev and not gotovaSaradnja%}
            <h3>Pošalji zahtev za saradnju</h3>
            <form method="post" action="{% url 'posalji_zahtev' oglas.idnotice %}">
                {% csrf_token %}
                <input type="hidden" name="tutor_username" value="{{ request.user.username }}">
                <button type="submit" class="btn" style="width:auto; background-color:#A6D785;">
                    Pošalji zahtev
                </button>
            </form>
        {% endif %}
    </main>
</body>
</html>